@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

*{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

*::selection{
    background-color: rgba(0,0,0,0);
}

body, html {
	height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

#text {
    font-family: 'Bungee Hairline', sans-serif;
    font-size: 40px;
	font-weight: bold;
    cursor: pointer;
    transition: 2s;
    -webkit-transition: 2s;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font-weight: light;
    padding: 20px;
}

.red{
    color: blue;
}