@import url('https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i,900,900i');

*{
    box-sizing: border-box;
}

body {
    font-family: "Alegreya", serif;
    font-size: 80px;
    height: 50000px;
    margin: 0 0 0 0;
    background-color: rgba(240,240,240,1);
    cursor: none;
}

#content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: 2s;
    cursor: none;
}

#content:hover {
    opacity: 0;
}
