@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');


*{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html, body{
    width: 100%;
    margin: 50px 0 50px 0;
    background-color: rgba(60,60,60,1);
}

body{
    height: 1000000px;
    margin: 500px 0 50px 0;
}

#yo {

    height: 250px;
    width: 250px;
    background-color: none;
    margin: 0 0 0 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform-origin: 50% 50%;

}

#yo2 {

    height: 250px;
    width: 250px;
    background-color: none;
    margin: 0 auto 0 auto;
}




p{
    color: black;
    font-family: 'Bungee Hairline', sans-serif;
    font-size: 200px;
    text-align: center;
}


