
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i');










/* ===== BASE ===== */


*{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

*::selection{
    background-color: rgba(0,0,0,0);
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-size: 27px;
    background-color: #666666;
    color: #b2b2b2;
    text-align: center;
    letter-spacing: 0.3px;
}










/* ===== Rectangles ===== */


#grand{
    width: 450px;
    height: 450px;
    background-color: #999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}



#un{
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 9;
}

#sept{
    background-color: white;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 9;
}

#deux{
    background-color: black;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: -1;
}

#trois{
    background-color: #FFB6C1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150px;
    left: 0;
}

#quatre{
    background-color: #90EE90;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 150px;
    right: 0;
}

#cinq{
    background-color: #87CEFA;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 150px;
}

#six{
    background-color: #FAFAD2;
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0px;
    left: 150px;
}










/* ===== Carrées - LOOP ===== */


.r{
    width: 100px;
    height: 100px;
    background-color: black;
    float: left;
}

.r2{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
}

.r3{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.r4 {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom:0;
    right:0;
}










/* ===== Cecrles ===== */


#rond{
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: white;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#rond2, #rond3, #rond4, #rond5, #rond6{
    border-radius: 50%;
    width: 0px;
    height: 0px;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}










/* ===== Dialogue ===== */


#parole{
    width: 0px;
    height: 0px;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#web, #moi{
    width: 0px;
    background-color: ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#moi{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300i;
    font-style: italic;
    font-size: 28px;
}









