@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*{
    box-sizing: border-box;
}

body, html {
	height: 100%;
    height: 100%;
    background-color: black;
    font-family: "Lato", sans-serif;
	font-size: 50px;
	font-weight: 100;
    text-align: left;
    color: white;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    letter-spacing: 50px;
}

#heur1 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

#heur2 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

#heur3 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

#heur4 {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}