
/* ===== Police ===== */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');








/* ===== Style de base ===== */

*{
    box-sizing: border-box;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html, body{
    width: 100%;
    height: auto;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 22px;
    background-color: black;
    color: #808080;
    text-align: left;
    letter-spacing: 1px;
}

html{
    scrollbar-face-color: white;
    scrollbar-shadow-color: none;
    scrollbar-highlight-color: white;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

a{
    color: inherit;
    transition: 2s;
    -webkit-transition: 2s;
}

a:hover{
    opacity: 0;
}








/* Style de la barre de défilement (scrollbar) */

body::-webkit-scrollbar {
    width: 10px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgba(255,255,255,1); 
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
}

.scrollhide::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0); 
}








/* ===== DIV comprenant les carrés de base ===== */

#grand{
    width: 360px;
    height: 360px;
    background-color: ;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 2;
}








/* ===== Classes modifiant le type de positionnement===== */

.relat{
    position: relative;
}

.fix{
    position: fixed;
}








/* ===== DIV comprenant les activateurs d'animation SCROLLMAGIC ===== */

#full{
    height: auto;
    width: 360px;
    background-color: none;
    margin: 1000px auto 1000px auto;
}

#anim1,#anim2,#anim3,#anim4,#anim5,#anim6,#anim7,#anim8,#anim9,#anim10,#anim11,#anim12,#anim13,#anim14{
    margin: 0px auto 1000px auto;
    height: 60px;
    width: 360px;
    background-color: none;
}








/* ===== Style des boîtes de texte ===== */

.texte0,#texte1,#texte2,#texte3,#texte4,#texte5,#texte6,#texte7,#texte8{
    width: 100%;
    height: 48px;
    background-color: none;
    position: fixed;
    margin: 11px 11px 11px 11px;
    top: -60px;
    left: 0px; 
}








/* ===== Style des boîtes d'image ===== */

#image1,#image2,#image3,#image4{
    width: 100%;
    height: 0px;
    position: absolute;
    background-size: 360px 360px;
}

#image1{
    bottom: 0px;
    left: 0px;
    background-image: url(../images/1.jpg);
    background-position: top;
}

#image2{
    top: 0px;
    left: 0px;
    background-image: url(../images/2.jpg);
    background-position: bottom;
}

#image3{
    bottom: 0px;
    left: 0px;
    background-image: url(../images/3.jpg);
    background-position: top;
}

#image4{
    top: 0px;
    left: 0px;
    background-image: url(../images/4.jpg);
    background-position: bottom;
}

#imagez{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-image: url(../images/z.gif);
    background-position: center;
    width: 100%;
    height: 0%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#imageplage{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-image: url(../images/eau.jpg);
    background-position: center;
    background-color: #c2dbfb;
    width: 100%;
    height: 0%;
    position: fixed;
    background-size: 360px;
    background-repeat: no-repeat;
    cursor: none;
}

.voirimage3{
    top: 0px;
    left: 0px;
    background-image: url(../images/3.jpg);
    background-position: bottom;
}








/* ===== Style des carrés de base ===== */




/* ===== a, b, c, d, e, f -> style commun ===== */

#a1-2,#a1,#a2,#a3,#a4,#a5,#a6,
#b1,#b2,#b3,#b4,#b5,#b6,
#c1,#c2,#c3,#c4,#c5,#c6,
#d1,#d2,#d3,#d4,#d5,#d6,
#e1,#e2,#e3,#e4,#e5,#e6,
#f1,#f2,#f3,#f4,#f5,#f6
{
    background-color: black;
    width: 60px;
    height: 0px;
    position: absolute;
    background-image: ;
    background-size: 360px 360px;
    background-repeat: no-repeat;
}




/* ===== Point d'interrogation initial ===== */

#a3,#a4,#b2,#b5,#c5,#d4,#f4{
    width: 60px;
    height: 0px;
    background-color: white;
}




/* ===== a ===== */

#a1{
    top: 0px;
    left: 0px;
    background-color: #252624;
    background-position: 0px 0px;
    background-position: 0px 0px;
}

#a1-2{
    bottom: 0px;
    left: 0px;
    background-color: #c2dbfb;
}

#a2{
    top: 0px;
    left: 60px;
    background-color: #ede6dd;
    background-position: -60px 0px;
}

#a3{
    top: 0px;
    left: 120px;
    background-position: -120px 0px;
}

#a4{
    top: 0px;
    left: 180px;
    background-position: -180px 0px;
}

#a5{
    top: 0px;
    left: 240px;
    background-color: #ae9183;
    background-position: -240px 0px;
}

#a6{
    top: 0px;
    left: 300px;
    background-color: #2b2d25;
    background-position: -300px 0px;
}




/* ===== b ===== */

#b1{
    top: 60px;
    left: 0px;
    background-color: #262b27;
    background-position: 0px -60px;
}

#b2{
    top: 60px;
    left: 60px;
    background-position: -60px -60px;
}

#b3{
    top: 60px;
    left: 120px;
    background-color: #ffffff;
    background-position: -120px -60px;
}

#b4{
    top: 60px;
    left: 180px;
    background-color: #dad3c9;
    background-position: -180px -60px;
}

#b5{
    top: 60px;
    left: 240px;
    background-position: -240px -60px;
}

#b6{
    top: 60px;
    left: 300px;
    background-color: #443f35;
    background-position: -300px -60px;
}




/* ===== c ===== */

#c1{
    top: 120px;
    left: 0px;
    background-color: #2a2c2b;
    background-position: 0px -120px;
}

#c2{
    top: 120px;
    left: 60px;
    background-color: #7a8a9a;
    background-position: -60px -120px;
}

#c3{
    top: 120px;
    left: 120px;
    background-color: #ecdcd5;
    background-position: -120px -120px;
}

#c4{
    top: 120px;
    left: 180px;
    background-color: #ada9a6;
    background-position: -180px -120px;
}

#c5{
    top: 120px;
    left: 240px;
    background-position: -240px -120px;
}

#c6{
    top: 120px;
    left: 300px;
    background-color: #332f2c;
    background-position: -300px -120px;
}




/* ===== d ===== */

#d1{
    top: 180px;
    left: 0px;
    background-color: #353635;
    background-position: -0px -180px;
}

#d2{
    top: 180px;
    left: 60px;
    background-color: #988783;
    background-position: -60px -180px;
}

#d3{
    top: 180px;
    left: 120px;
    background-color: #e3bcbb;
    background-position: -120px -180px;
}

#d4{
    top: 180px;
    left: 180px;
    background-position: -180px -180px;
}

#d5{
    top: 180px;
    left: 240px;
    background-color: #a48e83;
    background-position: -240px -180px;
}

#d6{
    top: 180px;
    left: 300px;
    background-color: #423b33;
    background-position: -300px -180px;
}




/* ===== e ===== */

#e1{
    top: 240px;
    left: 0px;
    background-color: #212629;
    background-position: 0px -240px;
}

#e2{
    top: 240px;
    left: 60px;
    background-color: #705d54;
    background-position: -60px -240px;
}

#e3{
    top: 240px;
    left: 120px;
    background-color: #e1adb3;
    background-position: -120px -240px;
}

#e4{
    top: 240px;
    left: 180px;
    background-color: #8e6b5c;
    background-position: -180px -240px;
}

#e5{
    top: 240px;
    left: 240px;
    background-color: #8a6c61;
    background-position: -240px -240px;
}

#e6{
    top: 240px;
    left: 300px;
    background-color: #473d33;
    background-position: -300px -240px;
}




/* ===== f ===== */

#f1{
    top: 300px;
    left: 0px;
    background-color: #1b1615;
    background-position: 0px -300px;
}

#f2{
    top: 300px;
    left: 60px;
    background-color: #3a322a;
    background-position: -60px -300px;
}

#f3{
    top: 300px;
    left: 120px;
    background-color: #bf8e91;
    background-position: -120px -300px;
}

#f4{
    top: 300px;
    left: 180px;
    background-position: -180px -300px;
}

#f5{
    top: 300px;
    left: 240px;
    background-color: #4e372d;
    background-position: -240px -300px;
}

#f6{
    top: 300px;
    left: 300px;
    background-color: #29251e;
    background-position: -300px -300px;
}







